*{margin: 0; padding: 0;}
a{text-decoration: 0; color: #fff;}
li{list-style: none;}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

nav {
    width: 1200px;

    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
}

.nav_logo {
    font-size: 24px;
    display: flex;
}

.nav_logo i {
    color: aqua;
}

.nav_menu {
    display: flex;

}

.nav_menu li{
    padding: 20px;
    transition: 0.5s;
}

.nav_menu li:hover{
    color: chartreuse;
    font-size: 26px;
}

.nav_sns {
    display: flex;
}

.nav_sns li {
    color: #fff;
    padding: 10px 10px;
}